<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курсы</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a href="/lessons">Ко всем урокам</a>
<a href="/users">Ко всем студентам</a>
<table>
    <tr>
        <th>ID</th>
        <th>Начало</th>
        <th>Конец</th>
        <td>Действия</td>
    </tr>
    <#list courses as course>
        <tr>
            <td>${course.title}</td>
            <td>${course.start}</td>
            <td>${course.finish}</td>
            <td>
                <a href="/courses/${course.id}">Перейти</a>
                <a href="/courses/${course.id}/delete">Удалить</a>
            </td>
        </tr>
    </#list>
</table>
<form action="/courses" method="post">
    <label>
        Название курса
        <input type="text" name="title" placeholder="Введите название курса">
    </label>
    <br>
    <label>
        Начало курса
        <input type="date" name="start" placeholder="Начало">
    </label>
    <br>
    <label>
        Конец курса
        <input type="date" name="finish" placeholder="Конец">
    </label>
    <br>
    <input autofocus type="submit" value="добавить"/>
</form>
</body>
</html>