<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, client-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Фильм</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<a href="/sessions">Ко всем сеансам</a>
<a href="/movies">Ко всем фильмам</a>
<#if role == 'ADMIN'>
    <a href="/clients">Ко всем клиентам</a>
</#if>
<a href="/logout">Выход</a>
<form action="/movies/${movie.id}/update" method="post">
    <label>
        Название
        <input type="text" name="name" value= ${movie.name}>
    </label>
    <br>
    <label>
        Описание
        <input type="text" name="description" value= ${movie.description}>
    </label>
    <br>
    <label>
        Цена
        <input type="text" name="price" value= ${movie.price}>
    </label>
    <br>
    <label>
        Начало
        <input type="time" name="startTime" value= ${movie.startTime}>
    </label>
    <br>
    <label>
        Конец
        <input type="time" name="finishTime" value= ${movie.finishTime}>
    </label>
    <br>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>